<app-notes-bg>
    <div class="flex justify-start">
        <app-button routerLink="/home">back</app-button>
    </div>
    <!-- *ngFor="let schedule of schedules$ | async; let i = index" -->
    <div class="flex flex-col gap-3">
        <ng-container *ngIf="!editMode else onEditMode">
            <div class="bg-white rounded-md p-2">{{ schedule.title }}</div>
            <div class="bg-white rounded-md p-2 min-h-[10rem]">
              {{ schedule.contents }}
            </div>
            <div class="flex gap-2 justify-end">
                <app-button (click)="onEdit()">수정</app-button>
            </div>
        </ng-container>
        <ng-template #onEditMode>
            <input id="inputTitle" type="text" class="resize-none rounded-md p-2" [(ngModel)]="schedule.title">
            <textarea class="resize-none rounded-md h-[10rem] p-2" [(ngModel)]="schedule.contents"></textarea>
            <div class="flex gap-2 justify-end">
                <app-button (click)="saveEdit()">완료</app-button>
            </div>
        </ng-template>
    </div>
</app-notes-bg>